.label_style{
			font-style: Arial, Helvetica, sans-serif;
			font-size : 14px;
		}

		.section_div1{
			height: 150px;
			margin-bottom: 20px;
		}

		.section_div2{
			height: 250px;
		}

		.inner_section{
			width: 30%;
			float:left;
			margin-right: 10px;
		}

		.inner_section2{
			width: 50%;
			float:left;
		}
		.sect_border{
			border : 2px solid;
		}
		#create{
			width : 150px;
			background-color: #42f492;
			margin-left: 877px;
		}
		
		.error{
		color:red;}